body {
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: lightskyblue;
}

.exerciseInfo {
    border: 2px solid gray;
    border-radius: 7px;
    padding: 1%;
    width: 25%;
    margin: 4% auto 0;
}

.infoTitle {
    font-size: 21px
}